<!doctype html>
<html>
<head>
    <title>Errors - Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body        {
            word-wrap:break-word;
            background-image: url('/images/musician.jpg');
            background-size: cover;
        }
        .history {
            padding: 3px;
            min-width: 20px;
        }
        .history-nav {
            display: flex;
            justify-content: space-between;
        }
        .history-nav-link {
            margin-left: 10px;
            font-size: 14pt;
        }

        .history-nav-link-disabled {
            margin-left: 10px;
            font-size: 14pt;
            color: #aaa
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<%- include partials/header.ejs %>
<div class="container">
    <div class="search-area mb20">
        <div class="col-sm-5">
            <form action="/admin/errors" method="get">
                <div class="flex-row">
                    <i class="fa fa-search shift-r20 subtle-text" aria-hidden="true"></i>
                    <input class="form-control text-large pl25"
                           name="search"
                           value="<%= search %>" placeholder="search"
                           autofocus onfocus="this.value = this.value;">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="well white-well">
            <div class="history-nav">
                <div>
                    <%=navigation.description%>
                </div>
                <div>
                    <% if (navigation.start) { %>
                    <a class="history-nav-link" href="<%=navigation.start%>">first</a>
                    <%}%>
                    <% if (navigation.back) { %>
                    <a class="history-nav-link" href="<%=navigation.back%>">back</a>
                    <%}%>
                    <% if (navigation.next) { %>
                    <a class="history-nav-link" href="<%=navigation.next%>">next</a>
                    <%} else {%>
                    <span class="history-nav-link-disabled">next</span>
                    <%}%>
                </div>
            </div>
            <table class="table table-responsive" width="100%">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">User</th>
                    <th class="text-center">Track</th>
                    <th class="text-center">Artist</th>
                    <th class="text-center">Error Code</th>
                    <th class="text-center">Error Context</th>
                    <th class="text-center"></th>
                </tr>

                <%
                var messages = [
                  "User aborted playback",

                ]
                for (var ivt=0; ivt < errors.length; ivt++) {
                    var error = errors[ivt];
                    var report = error.report;
                    var track = error.track;
                    var username = report.user && report.user.draftProfile ? report.user.draftProfile.artistName : "Anonymous";

                %>
                <tr id="<%=report._id%>">
                    <td class="text-center middle"><%=error.dateDisplay%></td>
                    <td class="text-center middle"><%=report.user.draftProfile.artistName%></td>
                    <td class="text-center middle"><a href="/track/<%=track.contractAddress%>"><%=track.title%></a></td>
                    <td class="text-center middle"><a href="/artist/<%=track.artistAddress%>"><%=track.artistName%></a></td>
                    <td class="text-center middle"><%=report.errorCode%><br><%=getErrorDescription(report.errorCode)%></td>
                    <td class="text-center middle"><%=report.errorContext%></td>
                    <td class="delete-error btn btn-danger btn-sm"
                        errorid="<%=report._id%>">
                        Delete
                    </td>
                </tr>
                <%}%>
            </table>
        </div>
    </div>
</div>
<script>
  $( document ).ready(function() {
    $(".delete-error").on('click', function() {
      var _id = $(this).attr("errorid");
      var row = $("#" + _id);
      new Message("Are you sure?", 'warning', 5000)
        .button('Yes', () => {
          $.post('/admin/errors/remove', {
            _id: _id
          }, function(data) {
            if (data.success) {
              row.html("<td class='alert-success' colspan=5 align=center>Removed!</td>");
            }
            else {
              new Message("Failed to delete the entry", 'error', 5000)
            }
          });
        })
        .button('No', () => {

        });
    })
  });
</script>
<%
 function getErrorDescription(code) {
     switch (parseInt(code)) {
         case 1:
            return 'MEDIA_ERR_ABORTED';
         case 2:
             return 'MEDIA_ERR_NETWORK';
         case 3:
             return 'MEDIA_ERR_DECODE';
         case 4:
             return 'MEDIA_ERR_SRC_NOT_SUPPORTED';
         default:
             return 'An unknown error occurred.';
     }
 }

 %>
<%- include partials/connect-with-us.ejs %>
</body>
</html>
