<!doctype html>
<html>
<head>
    <title>FAQ - Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body {
            word-wrap: break-word;
            background-image: url('/images/musician.jpg');
            background-size: cover;
        }

        input.inline-form-control {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            border: none;
            margin: 5px;
        }

        input.address {
            flex-grow: 1;
        }

        .json-target {
            max-height: 400px;
            width: 90%;
            overflow-y: scroll;
        }
        .command-line {
            display: flex;
            align-items: center;
            align-content: center;
            max-width: 800px;
        }
        .mb0 {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<%- include partials/header.ejs %>
<div class="container">
    <div class="page-header">
        <h1>API Demo</h1>
    </div>

    <%
    var apis = loadAPIs();
    for (var i=0; i < apis.length; i++) {
        var api = apis[i];
        var addressId = "address" + i;
        var outputId = "output" + i;
        var paramsString = api.params && api.params.length > 0 ? "?" + api.params.join("&") : "";
        var submitExpr = `demo.getJson('${api.path}', '${addressId}', '${outputId}')`;
        var keyupExpr = `demo.maybeSubmit(event, '${api.path}', '${addressId}', '${outputId}')`;
        var clearExpr = `demo.clear('${outputId}')`;
    %>

    <div class="row">
        <div class="well">
            <div>
                <%=api.description%>
            </div>
            <div class="command-line">
                <label class="mb0"><%=api.path%></label>

                <input id="<%=addressId%>"
                       class="inline-form-control address"
                       placeholder="<%=api.subpath%><%=paramsString%>"
                       onkeyup="<%-keyupExpr%>">
                <input class="mr5" type="button" onclick="<%-submitExpr%>" value="Go">
                <input type="button" onclick="<%-clearExpr%>" value="Clear">
            </div>
            <div id="<%=outputId%>" class="json-target"></div>
        </div>
    </div>
    <%}%>

    <div class="row">
        <div class="well">
            <div>
                Play audio
            </div>
            <div class="command-line">
                <label class="mb0">/ppp/</label>

                <input id="trackId"
                       class="inline-form-control address"
                       placeholder="track address"
                       onkeyup="demo.maybePlayAudio(event)">
                <input class="mr5" type="button" onclick="demo.playAudio()" value="Go">
            </div>
            <audio id="demoAudio" controls></audio>
        </div>
    </div>

</div>
<script>
  var demo = {
    maybeSubmit: function (event, url, addressId, targetId) {
      if (event.keyCode == 13) {
        demo.getJson(url, addressId, targetId);
      }
    },
    getJson: function (url, addressId, targetId) {
      var address = addressId ? $("#" + addressId).val() : "";
      var target = $("#" + targetId);
      target.html("Loading...");
      $.ajax({
        url: url + address,
        success:function (data, status) {
          target.html("<pre>" + JSON.stringify(data, null, 2) + "</pre>");
        },
        error: function(err) {
          target.html("<pre>Error: " + JSON.stringify(err) + "</pre>");
        }
      })
    },
    maybePlayAudio: function(event) {
      if (event.keyCode == 13) {
        demo.playAudio();
      }
    },
    playAudio: function() {
      $("#demoAudio")[0].src = "/ppp/" + $("#trackId").val();
    },
    clear: function(targetId) {
      $("#" + targetId).html("");
    }
  }
</script>
</body>
</html>

<%
function loadAPIs() {
    return [
        {
            description: "Gets the details of the artist with the given artist profileAddress",
            path: "/json-api/artist/",
            subpath: "address",
            params: []
        },
        {
            description: "Gets a list of featured artists",
            path: "/json-api/artists/featured",
            subpath: "",
            params: ["limit=10"]
        },
        {
            description: "Gets a list of new artists",
            path: "/json-api/artists/new",
            subpath: "",
            params: ["limit=10"]
        },
        {
            description: "Gets the details of a particular license/track",
            path: "/json-api/track/",
            subpath: "address",
            params: []
        },
        {
            description: "Gets a list of new tracks",
            path: "/json-api/tracks/new",
            subpath: "",
            params: ["limit=10"]
        },
        {
            description: "Gets a list of recent tracks",
            path: "/json-api/tracks/recent",
            subpath: "",
            params: ["limit=10"]
        },
        {
            description: "Gets a list of most-played/top tracks",
            path: "/json-api/tracks/top",
            subpath: "",
            params: ["limit=10", "genre=Rock"]
        },
        {
            description: "Gets a list of tracks with an artist or track title that match the query, ordered by genre",
            path: "/json-api/tracks/search",
            subpath: "",
            params: ["search=Dan"]
        },
        {
            description: "Gets a list of transactions that the given address has been involved in.  Supports pagination.",
            path: "/json-api/tx/history/",
            subpath: "address",
            params: ["limit=10&start=5"]
        }
    ]
}
%>