<!doctype html>
<html>
<head>
    <%- include partials/page-head.ejs %>
    <title>Musicoin.org</title>
    <style>
        body {
            background-color: #333;
            color: #eee;
            background-image: url('/images/musician.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .home_icon {
            height: 80px;
        }
        .free-play-count {
            font-size: 72px;
            line-height: 0.9;
            text-align: center;
            margin-top: 20px;
            color: #e4aa17;
        }

        .social-link {
            font-size: 14pt;
        }

    </style>
    <link rel="stylesheet" href="/styles/track-message.css">
</head>
<body>
<%- include partials/header.ejs %>

<%- include('partials/hero.ejs', {}) %>
<%
function formatNumber(value) {
    if (!value || value == 0) return 0;
    const lookup = ["", "k", "M", "B", "T"];
    var order = Math.min(Math.floor(Math.log10(value)/3), lookup.length-1);
    var mult = value / Math.pow(10, 3*order);
    var decimals = order > 0 ? 1 : 0;
    return mult.toFixed(decimals).replace(/\B(?=(\d{3})+(?!\d))/g, ",") + lookup[order];
}
 %>

<div class="box-shadow-top white-well pad20">
    <div class="">
        <%- include partials/social-links.ejs %>
    </div>
    <div class="subtle-text"><%=artist.genres ? artist.genres.join(", ") : ""%></div>
    <div class="mb10"></div>
    <div class="flex-row mb10">
        <div class="flex-column mr10 center-text">
            <div id="player-tip-button"
                 class="tip-button btn btn-success tip-button btn-xs"
                 recipient="<%= artist.profileAddress %>"
                 amount="1"
                 context-type="User"
                 text-success="Thanks! :)"
                 text-fail=":("
                 text-default="Tip">
                Tip
            </div>
            <div class="subtle-text"><%= formatNumber(artist.directTipCount)%> tipped</div>
        </div>

        <div class="flex-column center-text mr10">
            <div class="follow-toggle-button btn btn-default btn-xs"
                 user="<%= artist.id %>"
                 text-following="Following"
                 class-following="btn-success"
                 text-not-following="Follow"
                 class-not-following="btn-default"
                 follower-count="<%=artist.followerCount%>">
                Follow
            </div>
            <div class="follower-count subtle-text"> - </div>
        </div>
    </div>


    <p></p>
    <div id=description class="text-justify more">
        <div class="more-content">
            <%
            var paragraphs = artist.description ? artist.description.split("\n").map(s => s.trim()).filter(s => s) : [];
            for (var i=0; i < paragraphs.length; i++) {
                var paragraph = paragraphs[i];

            %>
            <%=paragraph%>
            <br><br>
            <%}%>
        </div>
        <a class="morelink clickable">show more</a>
    </div>
</div>

<div class="two-columns white-well">
    <div class="pad10">
        <div class="center-text event-header"><img width=24 height=24 class="mr10" src="/images/chat.png">posts</div>
        <div class="dynamic-element message-scroller"
             data-behavior="chat-message-area"
             style="min-height: 180px"
             id="de-user-messages"
             de-refresh-period="10"
             de-refresh-offset="10"
             de-showtrack="true"
             de-limit=20,
             de-nocontentmessage="No messages"
             de-user="<%=artist.profileAddress%>"
             de-url="/elements/user-messages">
            <%- include('partials/track-messages.ejs', {messages: messages, showTrack: true, noContentMessage: "No messages"}) %>
        </div>
    </div>

    <div class="pad10">
        <div class="event-header text-center">releases</div>
        <!-- I don't see a reason for this to be a dynamic element -->
        <%- include('partials/release-events.ejs', {releases: releases}) %>
    </div>
</div>
<script>
  function refreshMessageList() {
    dynamic.refreshElement($("#de-user-messages"));
  }
</script>
<%- include partials/player-hook.ejs %>
<%- include partials/connect-with-us.ejs %>
</body>
</html>