<!doctype html>
<html>
<head>
    <%- include partials/page-head.ejs %>
    <title>musicoin</title>
    <style>
        body {
            background-color: #333;
            color: #eee;
            background-image: url('/images/musician.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .home_icon {
            height: 80px;
        }
        .free-play-count {
            font-size: 72px;
            line-height: 0.9;
            text-align: center;
            margin-top: 20px;
            color: #e4aa17;
        }

        .social-link {
            font-size: 14pt;
        }

    </style>
    <link rel="stylesheet" href="/styles/track-message.css">
</head>
<body>
<%- include partials/header.ejs %>

<%- include('partials/hero.ejs', {artist: artist, showVerifiedIcon: artist.verified}) %>
<%

const isArtist = user.profileAddress == artist.profileAddress;
function formatNumber(value) {
    if (!value || value == 0) return 0;
    if (value < 1) return parseFloat(value).toFixed(1);
    const lookup = ["", "k", "M", "B", "T"];
    var order = Math.min(Math.floor(Math.log10(value) / 3), lookup.length - 1);
    var mult = value / Math.pow(10, 3 * order);
    var decimals = order > 0 ? 1 : 0;
    return mult.toFixed(decimals).replace(/\B(?=(\d{3})+(?!\d))/g, ",") + lookup[order];
}
%>

<div class="box-shadow-top white-well pad20 columns-2-to-1">
    <div id=description class="text-justify more col1">
        <div class="more-content">
            <%
            var paragraphs = artist.description ? artist.description.split("\n").map(s => s.trim()).filter(s => s) : [];
            for (var i = 0; i < paragraphs.length; i++) {
                var paragraph = paragraphs[i];
            %>
            <%= paragraph %>
            <br><br>
            <% } %>
        </div>
        <a class="morelink clickable">show more</a>
    </div>
    <div class="flex-row col2 dynamic-data"
         de-refresh-period="10"
         de-url="/json-api/artists/earnings"
         de-artistid="<%=artist.id%>"
         data-behavior="artist-earnings"
         style="justify-content: flex-end; min-width: 200px; align-items: flex-start">
        <div class="flex-column center-text mr10 followers-container">
            <div class="follow-toggle-button btn btn-default"
                 user="<%= artist.id %>"
                 text-following="Following"
                 class-following="<%= isArtist ? "disabled" : "btn-success"%>"
                 text-not-following="Follow"
                 class-not-following="<%= isArtist ? "disabled" : "btn-default"%>"
                 follower-count="<%=artist.followerCount%>">
                Follow
            </div>
            <div class="follower-count subtle-text"
                 data-behavior="total-followers"> - </div>
        </div>

        <div class="flex-column mr10 center-text tips-container">
            <div id="player-tip-button"
                 class="tip-button btn btn-success tip-button"
                 recipient="<%= artist.profileAddress %>"
                 amount="1"
                 context-type="User"
                 text-success="Thanks! :)"
                 text-fail=":("
                 text-default="Tip">
                Tip
            </div>
            <div class="subtle-text"><span data-behavior="total-tips"><%= formatNumber(artistStats.tipCount)%></span> tipped</div>
        </div>

        <div class="text-large flex-column center-text mr10 earnings-container" >
            <div style="top: -6px; position: relative;">
                <span class="text-large" data-behavior="total-earned"><%=formatNumber(artistStats.totalEarned)%></span><span class="text-medium-small">MC</span>
            </div>
            <span class="text-medium-small subtle-text" style="position: relative; top: -11px;">earned</span>
        </div>
    </div>
</div>

<div class="two-columns white-well">
    <div class="pad10">
        <div class="center-text event-header"><i class="fa fa-comments subtle-text text-default mr10" aria-hidden="true"></i> posts</div>
        <div class="dynamic-element message-scroller"
             data-behavior="chat-message-area"
             style="min-height: 180px"
             id="de-user-messages"
             de-refresh-period="10"
             de-refresh-offset="10"
             de-showtrack="true"
             de-limit=20
             de-nocontentmessage="No messages"
             de-user="<%=artist.profileAddress%>"
             de-url="/elements/user-messages">
            <%- include('partials/track-messages.ejs', {messages: messages, showTrack: true, noContentMessage: "No messages"}) %>
        </div>
    </div>

    <div class="pad10">
        <% if (releases.length > 0) { %>
        <div class="event-header text-center">
            releases
            <% if (typeof showPlayAll != "undefined" && showPlayAll) { %>
            <div>
                <div class="btn btn-success party-button play-list pad5 play-all-button"
                     target="artistReleases"
                     title="Play all tracks by this artist">
                    <i class="fa fa-play text-large mr5 text-default" aria-hidden="true"></i> PLAY ALL
                </div>
            </div>
            <% } %>
        </div>

        <!-- I don't see a reason for this to be a dynamic element -->
        <%- include('partials/release-events.ejs', {releases: releases, elementId: "artistReleases"}) %>
        <% } %>
    </div>
</div>
<script>
  function refreshMessageList() {
    dynamic.refreshElement($("#de-user-messages"));
  }

  $(document).ready(function() {
    dynamic.addDataHandler("artist-earnings", function(element, data) {
      var newPlays = parseInt(data.plays);
      var newTips = parseInt(data.tips);

      var newTotal = format.formatNumber(newPlays + newTips);
      var earningsElement = element.find("[data-behavior~=total-earned]");
      var earningsContainer = element.find(".earnings-container");
      if (newTotal != earningsElement.text()) {
        earningsElement.text(newTotal);
        earningsContainer.effect("bounce");
      }

      var tipElement = element.find("[data-behavior~=total-tips]");
      if (format.formatNumber(newTips) != tipElement.text()) {
        tipElement.text(format.formatNumber(newTips));
        element.find(".tips-container").effect("bounce");
      }

      var newFollowers = parseInt(data.followers);
      var followElement = element.find("[data-behavior~=total-followers]");
      if (format.formatNumber(newFollowers) != followElement.text()) {
        followElement.text(format.formatNumber(newFollowers));
        element.find(".followers-container").effect("bounce");
      }
    })
  })

</script>
<%- include partials/player-hook.ejs %>
<%- include partials/connect-with-us.ejs %>
</body>
</html>