<!doctype html>
<html>
<head>
    <title><%=artist.artistName%> - Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body        {
            word-wrap:break-word;
            background-image: url('<%=artist.image%>');
            background-size: cover;
        }
        .profile-image {
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
        .social-group {
            display: flex;
            flex-direction: column;
        }
        input.form-control  {
            width: 230px;
        }
        .flex-row {
            display: flex;
            flex-direction: row;
        }
        .stat {
            margin-right: 20px;
        }
    </style>
</head>
<body>
<%- include partials/header.ejs %>
<div class="container">
    <div class="page-header">
        <h1><%=artist.artistName%></h1>
        <div class="subtle-text pad10 text-justify">
        <%
            var paragraphs = artist.description ? artist.description.split("\n").map(s => s.trim()).filter(s => s) : [];
            for (var i=0; i < paragraphs.length; i++) {
              var paragraph = paragraphs[i];

        %>
            <p><%=paragraph%></p>
        <%}%>
        </div>
        <%- include partials/social-links.ejs %>
    </div>

    <!--<div>-->
        <!--<div class="col-sm-6">-->
            <!--<div class="well">-->
                <!--<div class="profile-image">-->
                    <!--<img id="profileImage" style="min-width: 64px; min-height: 64px; width: 256px; max-height:256px; object-fit: contain"  src="<%=artist.image%>">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<div name="description"><%= artist.description %></div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label>Social</label>-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <% if (releases.length > 0) {%>
    <div class="row">
        <div class="well">
            <h3 class="section-header"><span class="fa fa-music"></span> Releases</h3>
            <%- include partials/track-list.ejs %>
        </div>
    </div>
    <%}%>
</div>
<%- include partials/player-hook.ejs %>
</body>
</html>