<!doctype html>
<html>
<head>
    <%- include partials/page-head.ejs %>
    <title>Musicoin.org</title>
    <style>
        body {
            background-color: #333;
            color: #eee;
            background-image: url('/images/musician.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .home_icon {
            height: 80px;
        }
        .free-play-count {
            font-size: 72px;
            line-height: 0.9;
            text-align: center;
            margin-top: 20px;
            color: #e4aa17;
        }
    </style>
</head>
<body>
    <%- include partials/header.ejs %>
    <div class="container">
        <div class="search-area mb20">
            <div class="col-sm-5">
                <form action="/browse?genre=<%=genreFilter%>" method="post">
                    <div class="flex-row">
                        <i class="fa fa-search shift-r20 subtle-text" aria-hidden="true"></i>
                        <input class="form-control text-large pl25"
                               name="search"
                               value="<%= searchTerm %>" placeholder=""
                               autofocus onfocus="this.value = this.value;">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <%if (artists && artists.length > 0) {%>
    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">artists</h3>
                <%- include('partials/featured-artist-list.ejs', {artists: artists}) %>
            </div>
        </div>
    </div>
    <%}%>

    <%
    var groups = {};
    for (var g=0; g < releases.length; g++) {
        var release = releases[g];
        if (!groups[release.genres])
            groups[release.genres] = [];
        groups[release.genres].push(release)
    }

    for (var genre in groups) {
      var items = groups[genre];
      items = items.slice(0, Math.min(maxItemsPerGroup, items.length));
      var showMore = genre && genre != "Other" && items.length >= maxItemsPerGroup && !genreFilter;
 %>
    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header"><%=genre%></h3>
                <%- include('partials/track-list.ejs', {releases: items}) %>
            </div>

            <% if (showMore) {%>
            <div class="abs-top-right subtle-text clickable"
                 de-target-id="de-featured-artists">
                <a class="subtle-text" href="/browse?genre=<%=genre%>&search=<%=searchTerm%>&maxGroupSize=20">more</a>
            </div>
            <% } %>
        </div>
    </div>
    <%}%>
    <%- include partials/player-hook.ejs %>
    <%- include partials/connect-with-us.ejs %>
</body>
</html>