<!doctype html>
<html>
<head>
    <title>FAQ - Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body {
            word-wrap: break-word;
        }

        .faq-question {
            font-size: x-large;
        }

        .faq-answer {
            font-size: x-large;
        }

        :target {
            background-color: rgba(100, 200, 100, 0.2);
        }

        @keyframes highlight {
            0% {
                background-color: rgba(100, 200, 100, 0.2);
            }
            100% {
                background-color: transparent;
            }
        }

        .question {
            padding: 10px;
        }
    </style>
</head>
<body>
<%- include partials/header.ejs %>
<div class="container">
    <div class="page-header">
        <h1>FAQ</h1>
    </div>
    <div class="row">
        <div class="well white-well">
            <%
            var questions = [
                {
                    id: "WhyFreePlays",
                    question: "Why does Musicoin pay for each play?  Will it last forever?",
                    answer: (`Musicoin wants to give everyone a chance to see how it all works, and we want to make it
                     easy for anyone to try it out.  However, we don't want to ask musicians to give away their music for
                     free.  So, we are using the coins that have been donated to us (or mined by us) to pay for every
                     play.  Of course, this won't last forever, but for now we hope you enjoy it.

                     Contact us if you are interested in making a donation of Musicoins to keep the free plays flowing!`)
                },
                {
                    id: "ExchangeDeposit",
                    question: "Why can't I send directly from my profile to an exchange?",
                    answer: (`Many exchanges process the Musicoin blockchain in the same way they process other
                    blockchains, like Bitcoin.  However, Musicoin has some added features that allow Musicoin
                    to automatically distribute a Pay-per-Play payment to multiple recipients.  Unfortunately,
                    unless exchanges adjust their application to consider these transfers as well, they simply
                    don't see your deposit.  Sending from your profile initiates this type of transaction, which is
                    why you cannot deposit to an exchange directly from your online profile.

                    If you have already transferred funds from your profile to an exchange, you can open a support
                    ticket with the exchange to retrieve your funds.  They are not lost, but only the exchange can
                    help you retrieve your funds.

                    We are working with exchanges and also looking into alternative approaches.  For now, the
                    only supported approach is to transfer from your profile to a local wallet address, which
                    requires downloading the desktop client.`)
                },
                {
                    question: "If Musicoin isn't based on traditional currency, how do listeners obtain coins?",
                    answer: (`All coins will come from mining.  However, since we do not expect casual users
                    to setup mining on their own, Musicoin.org will subsidize listening for early adopters.  Therefore,
                    early adopters will listen for free, but artists will be paid in full from day 1.  The coins
                    used by Musicoin will be mined by our servers.

                    Eventually, coins will be available for purchase on an exchange, or other 3rd party services
                    may offer a alternative model. However, in all cases, regardless of the model used to give access
                    to listeners, each play will result in a payment.`)
                },
                {
                    question: "Who sets the price per play? The musician or the listener?",
                    answer: (`Our goal is to allow musicians themselves to control everything.
                    They can follow the template to set a standard price (which is one coin per play), or
                    they can set a higher or lower prices based on their personal will. Additionally,
                    musicians can customize how how each payment is distributed.`)
                },
                {
                    question: "What incentive is there for fans to pay for music?",
                    answer: (`We believe that users, in general, would be happy to support
                    their favorite musicians and that piracy is driven by two factors:

                    (1) convenience

                    (2) a disconnect between the listener and the artist

                    By building a simple, low-cost system that provides a direct connection
                    between listeners and artists, we believe there will be little incentive to
                    obtain music illegally.`)
                },
                {
                    id: "WhyLinkAccounts",
                    question: "Why should I link more than one account?",
                    answer: (`Linking accounts is the primary way you get to be identified as a musician on the musicoin platform.
                    Also, If you link another account, you can log in to your profile with any of those accounts.  That
                    way, if for any reason you lose access to your social account, you can still log in to Musicoin.

                    Note: If you currently log in with SoundCloud, we highly recommend that you
                    link another account to avoid any login issues.`)
                },
                {
                    id: "GetAnInvite",
                    question: "How can I obtain an invite?",
                    answer: (`We want to make sure every musician and listener has a good experience
                    using musicoin, so we’re slowly increasing the number of users.  If you are a musician
                    or just interested in beta-testing, send an email to musicoin@musicoin.org.`)
                },
                {
                    id: "WhatAreShares",
                    question: "What are shares?  Can I use percentages instead?",
                    answer: (`Shares should be expressed in whole numbers.  If your shares add up to 100, they are the
                    same as percentages.  However, sometimes it's easier to just express things in shares.  For instance,
                    if there are three band members, and all of them should get an equal amount, instead of writing 33.333%
                    for each, just give each member 1 share.

                    If you would rather express as percentages, you can.
                    In fact, in the case above you can give everyone 33 shares.  It's ok that is only adds up to 99, since everyone will
                    get 33 out of 99 shares (exactly 1/3rd).  Finally, the license Preview page will show the computed
                    percentage.`)
                },
                {
                    id: "WhatIsARecipient",
                    question: "What should I enter in the 'recipient' field when creating a license?",
                    answer: (`A recipient needs to be an address on the musicoin network.  You can find your address
                    on the 'my profile' page by clicking the 'show options' link in the 'my wallet' section.  For
                    convenience, you can enter an email address of a registered user.  If that user has created a profile,
                    you will see their address in the preview page along with the email address you entered.  You can
                    also enter the address of another license.

                    For example, if you have an agreement with another artist
                    to pay them 10% of each play for sampling from their song, you can enter their song's license address
                    in the recipient field.  Then, each time your song is played, it will send 10% to their license, and
                    then their license will distribute the payment as it normally would for a play.`)
                },
                {
                    id: "BackUpYourWallet",
                    question: "How do I store buy/sell Musicoin? How do I mine Musicoin?",
                    answer: (`You can buy/sell Musicoin via popular exchanges like Bittrex and Cryptopia. In order to store
                    Musicoin securely, we recommend downloading our wallet and storing them there, transferring the funds to
                    a web wallet as and when required. To mine Musicoin, you should download the go-musicoin client, which is
                    similar to go-ethereum in functionality and get started as you would do for Ethereum or other alt coins.
                    `)
                }
            ];
            %>
            <ol>
                <%
                for (var q = 0; q < questions.length; q++) {
                    var question = questions[q].question;
                    var answer = questions[q].answer;
                    var id = questions[q].id;
                %>
                <div id="<%= id %>" class="question">
                    <li class="faq-question"><%= question %></li>
                    <div class="">
                    <%
                    var paragraphs = answer.split("\n\n").map(s => s.trim()).filter(s => s);
                    for (var i=0; i < paragraphs.length; i++) {
                        var paragraph = paragraphs[i];
                    %>
                    <p><%=paragraph%></p>
                    <%}%>
                    </div>
                </div>
                <% } %>
            </ol>
        </div>
    </div>
</div>
<%- include partials/connect-with-us.ejs %>
</body>
</html>
