<!doctype html>
<html>
<head>
    <%- include partials/page-head.ejs %>
    <title>Musicoin.org</title>
    <style>
        body {
            background-color: #333;
            color: #eee;
            background-image: url('/images/musician.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .home_icon {
            height: 80px;
        }
        .free-play-count {
            font-size: 72px;
            line-height: 0.9;
            text-align: center;
            margin-top: 20px;
            color: #e4aa17;
        }

        .general-post {
            width: 100%;
            border-radius: 5px;
            border-color: #eee;
        }

        .post-area {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
        }
    </style>
    <link rel="stylesheet" href="/styles/track-message.css">
</head>
<body>
    <%- include partials/header.ejs %>

    <%- include('partials/hero.ejs', { display: !minimizeHeroInFeed }) %>

    <%- include partials/donate-banner.ejs %>

    <%
        var senderClass = user.mostRecentReleaseDate ? "sender-image-artist" : "sender-image"
    %>

    <div class="columns-2-to-1 white-well box-shadow-top">
        <div class="pad10 col1">
            <div class="center-text event-header"><img width=24 height=24 class="mr10" src="/images/chat.png">my feed</div>
            <div class="post-area mb10 flex-row" style="border-bottom: 1px solid #eee">
                <a href="/artist/<%=user.profileAddress%>"><div style="background-image: url('<%=user.profile.image%>')" class="<%=senderClass%>"></div></a>
                <textarea class="general-post" target="de-track-messages" placeholder="say something..."></textarea>
            </div>

            <div class="dynamic-element message-scroller"
                 data-behavior="chat-message-area"
                 style="min-height: 180px"
                 id="de-track-messages"
                 de-refresh-period="10"
                 de-refresh-offset="10"
                 de-showtrack="true"
                 de-limit="<%= ui.newMessages %>",
                 de-nocontent="You're not following anyone"
                 de-url="/elements/feed">
                <%- include('partials/track-messages.ejs', {messages: messages, showTrack: true, noContentMessage: "You're not following anyone"}) %>
            </div>
        </div>

        <div class="pad10 col2" style="background-color: rgba(0,0,0,0.02)">
            <%- include('partials/mini-hero.ejs', { display: minimizeHeroInFeed }) %>

            <% if (typeof topPlayedLastWeek != "undefined") { %>
                <%- include('partials/top-release-chart.ejs', {releases: topPlayedLastWeek, title: "top played", elementEndpoint: "top-played-period"}) %>
            <% } %>

            <% if (typeof topTippedLastWeek != "undefined") { %>
                <%- include('partials/top-release-chart.ejs', {releases: topTippedLastWeek, title: "top tipped", elementEndpoint: "top-tipped-period"}) %>
            <% } %>

            <div class="event-header text-center subtle-text">new releases</div>
            <div class="dynamic-element"
                 style="min-height: 180px"
                 id="de-new-releases"
                 de-limit="<%= ui.newReleases %>"
                 de-refresh-period="10"
                 de-refresh-offset="2"
                 de-url="/elements/release-events">
                <%- include('partials/release-events.ejs', {releases: releases}) %>
            </div>

            <div class="event-header text-center subtle-text">new artists</div>
            <div class="dynamic-element"
                 id="de-featured-artists"
                 de-refresh-period="10"
                 de-limit="<%= ui.newArtists %>"
                 de-refresh-offset="0"
                 de-url="/elements/artist-events">
                <%- include('partials/artist-events.ejs', {artists: featuredArtists}) %>
            </div>
        </div>
    </div>
    <script>
      function refreshMessageList() {
        dynamic.refreshElement($("#de-track-messages"));
      }
    </script>
    <%- include partials/player-hook.ejs %>
    <%- include partials/connect-with-us.ejs %>
</body>
</html>