<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Musicoin.org</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body {
            background-color: #333;
            color: #eee;
            background-image: url('/images/musician.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .well {
            background-color: transparent;
            border: none;
        }
        .section-header {
            color: #aaa;
            font-weight: lighter;
            font-family: monospace;
        }
        .welcome {
            padding: 10px;
            height: 200px;
        }
        .outer-container {
            background-color: rgba(0,0,0,0.8);
            position: fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            z-index: -1;
        }
    </style>
</head>
<body>
<div class="outer-container">
</div>
    <%- include partials/header.ejs %>
    <div class="container">
        <div class="col-sm-6">
            <div class="well">
                <h3 class="section-header">new releases</h3>
                <%- include partials/track-list.ejs %>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3 class="section-header">recently played</h3>
                <%- include('partials/track-list.ejs', {releases: recent}) %>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3 class="section-header">new artists</h3>
                <%- include partials/artist-list.ejs %>
            </div>
        </div>
    </div>
    <%- include partials/player.ejs %>

</body>
</html>