<!doctype html>
<html>
<head>
    <%- include partials/page-head.ejs %>
    <title>Musicoin.org</title>
    <style>
        body {
            background-color: #333;
            color: #eee;
            background-image: url('/images/musician.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .home_icon {
            height: 80px;
        }
        .free-play-count {
            font-size: 72px;
            line-height: 0.9;
            text-align: center;
            margin-top: 20px;
            color: #e4aa17;
        }
    </style>
</head>
<body>
    <%- include partials/header.ejs %>

    <div class="container">
        <div class="col-sm-12">
            <div class="well well-highlight">
                <div class="text-center text-large lead">For a limited time, Musicoin.org is paying for <u>each and every play</u></div>
                <div class="text-center text-large">Enjoy.</div>
                <div class="dynamic-element free-play-count"
                     id="de-musicoin-balance"
                     de-refresh-period="10"
                     de-refresh-offset="0"
                     de-url="/elements/musicoin-balance">
                    <%- include partials/musicoin-balance.ejs %>
                </div>
                <div class="text-center subtle-text">plays remaining</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">featured artists</h3>
                <div class="de-refresh-button abs-top-right subtle-text clickable show-on-well-hover"
                     de-target-id="de-featured-artists">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </div>
                <div class="dynamic-element"
                     id="de-featured-artists"
                     de-refresh-period="60"
                     de-refresh-offset="0"
                     de-url="/elements/featured-artists">
                    <%- include('partials/featured-artist-list.ejs', {artists: featuredArtists}) %>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">new releases</h3>
                <div class="de-refresh-button abs-top-right subtle-text clickable show-on-well-hover"
                     de-target-id="de-new-releases">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </div>
                <div class="dynamic-element"
                     style="min-height: 180px"
                     id="de-new-releases"
                     de-refresh-period="60"
                     de-refresh-offset="10"
                     de-url="/elements/new-releases">
                    <%- include partials/track-list.ejs %>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">recently played</h3>
                <div class="de-refresh-button abs-top-right subtle-text clickable show-on-well-hover"
                     de-target-id="de-recently-played">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </div>
                <div class="dynamic-element"
                     id="de-recently-played"
                     de-refresh-period="60"
                     de-refresh-offset="20"
                     de-url="/elements/recently-played">
                    <%- include('partials/track-list.ejs', {releases: recent}) %>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">top played</h3>
                <div class="de-refresh-button abs-top-right subtle-text clickable show-on-well-hover"
                     de-target-id="de-top-played">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </div>
                <div class="dynamic-element"
                     style="min-height: 180px"
                     id="de-top-played"
                     de-refresh-period="60"
                     de-refresh-offset="30"
                     de-url="/elements/top-played">
                    <%- include('partials/track-list.ejs', {releases: topPlayed}) %>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">new artists</h3>
                <div class="de-refresh-button abs-top-right subtle-text clickable show-on-well-hover"
                     de-target-id="de-new-artists">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </div>
                <div class="dynamic-element"
                     id="de-new-artists"
                     de-refresh-period="60"
                     de-refresh-offset="40"
                     de-iconSize="small"
                     de-url="/elements/new-artists">
                    <%- include('partials/featured-artist-list.ejs', {artists: artists, iconSize: "small"}) %>
                </div>

            </div>
        </div>
    </div>
    <%- include partials/motivation.ejs %>
    <%- include partials/player-hook.ejs %>
    <%- include partials/connect-with-us.ejs %>
</body>
</html>