<!doctype html>
<html>
<head>
    <%- include partials/page-head.ejs %>
    <title>Musicoin.org</title>
    <style>
        body {
            background-color: #333;
            color: #eee;
            background-image: url('/images/musician.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .home_icon {
            height: 80px;
        }
        .white-well {
            color: #333;
            background-color: #fcfcfc;
        }
    </style>
</head>
<body>
    <%- include partials/header.ejs %>
    <div class="container">
        <div class="col-sm-6">
            <div class="well white-well">
                <div class="text-center">
                    <img src="images/microphone.png" height="64px">
                </div>
                <h3 class="section-header">
                    musicians
                </h3>
                <p>
                    Imagine being <strong>paid instantly for each playback</strong> and having a community of
                listeners that value your work. On the Musicoin network, you can share your
                music and find your audience. Stop collecting "Likes" and start collecting fans
                that will support you with real value.
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well white-well">
                <div class="text-center">
                    <img src="images/headphones.jpg" height="64px">
                </div>
                <h3 class="section-header">music lovers
                </h3>
                <p>
                    Support your favorite musicians directly, just by listening. Whenever you listen to
                    a song, a small payment is sent <strong>directly from you to the artist</strong>, instantly. Unlike the
                    old model, where the artist receives only a small percentage (eventually), artists
                    can instantly see the impact of their music.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">featured artists</h3>
                <%- include('partials/featured-artist-list.ejs', {artists: featuredArtists}) %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-6">
            <div class="well">
                <h3 class="section-header">new releases</h3>
                <%- include partials/track-list.ejs %>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3 class="section-header">recently played</h3>
                <%- include('partials/track-list.ejs', {releases: recent}) %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">new artists</h3>
                <%- include('partials/featured-artist-list.ejs', {artists: featuredArtists, iconSize: "small"}) %>
            </div>
        </div>
    </div>
    <%- include partials/player.ejs %>

</body>
</html>