<!doctype html>
<html>
<head>
    <%- include partials/page-head.ejs %>
    <title>Musicoin.org</title>
    <style>
        body {
            background-color: #333;
            color: #eee;
            background-image: url('/images/musician.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .home_icon {
            height: 80px;
        }
    </style>
</head>
<body>
    <%- include partials/header.ejs %>
    <%- include partials/motivation.ejs %>

    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">featured artists</h3>
                <%- include('partials/featured-artist-list.ejs', {artists: featuredArtists}) %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-6">
            <div class="well">
                <h3 class="section-header">new releases</h3>
                <%- include partials/track-list.ejs %>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3 class="section-header">recently played</h3>
                <%- include('partials/track-list.ejs', {releases: recent}) %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">new artists</h3>
                <%- include('partials/featured-artist-list.ejs', {artists: featuredArtists, iconSize: "small"}) %>
            </div>
        </div>
    </div>
    <%- include partials/player.ejs %>

</body>
</html>