<!doctype html>
<html>
<head>
    <%- include partials/page-head.ejs %>
    <title>Musicoin.org</title>
    <style>
        body {
            background-color: #333;
            color: #eee;
            background-image: url('/images/musician.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .home_icon {
            height: 80px;
        }
        .free-play-count {
            font-size: 72px;
            line-height: 0.9;
            text-align: center;
            margin-top: 20px;
            color: #e4aa17;
        }
    </style>
</head>
<body>
    <%- include partials/header.ejs %>

    <div class="container">
        <div class="col-sm-12">
            <div class="well well-highlight">
                <div class="text-center text-large lead">For a limited time, Musicoin.org is paying for <u>each and every play</u></div>
                <div class="text-center text-large">Enjoy.</div>
                <div class="free-play-count"><%= musicoinClientBalance.formattedMusicoins %></div>
                <div class="text-center subtle-text">plays remaining</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">featured artists</h3>
                <%- include('partials/featured-artist-list.ejs', {artists: featuredArtists}) %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-6">
            <div class="well">
                <h3 class="section-header">new releases</h3>
                <%- include partials/track-list.ejs %>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="well">
                <h3 class="section-header">recently played</h3>
                <%- include('partials/track-list.ejs', {releases: recent}) %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <h3 class="section-header">new artists</h3>
                <%- include('partials/featured-artist-list.ejs', {artists: featuredArtists, iconSize: "small"}) %>
            </div>
        </div>
    </div>
    <%- include partials/motivation.ejs %>
    <%- include partials/player.ejs %>

</body>
</html>