<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/dependencies/messg-2.1.0/index.css">
    <style>
        body        { padding-top:80px; }

        .form-control2 {
            margin-right: 5px;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555;
            vertical-align: middle;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            flex-grow: 1;
        }
    </style>
    <script src="/dependencies/jquery/js/jquery-3.1.1.js"></script>
    <script src="/dependencies/messg-2.1.0/index.js"></script>
</head>
<body>

<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <%
            var _isAuthentiated = typeof isAuthenticated != "undefined" && isAuthenticated;
            var _hasInvite = typeof hasInvite != "undefined" && hasInvite;
            var isLinking = _isAuthentiated;
            var isNewAccount = _hasInvite && !_isAuthentiated;
            var action = isLinking ? "/connect/email" : "/login";
            var btnText = isLinking ? "Link" : isNewAccount ? "Create" : "Login"
        %>

        <% if (isLinking) { %>
            <h1><span class="fa fa-sign-in"></span> Link an account</h1>
            <div>Link an email/password to your '<%=user.draftProfile.artistName%>' account</div>
        <% } else if (isNewAccount) { %>
            <h1><span class="fa fa-sign-in"></span> Create an account</h1>
        <% } else { %>
            <h1><span class="fa fa-sign-in"></span> Login</h1>
        <% } %>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form name="loginForm" action="<%=action%>" method="post" onsubmit="return validatePasswords()">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <% if (isLinking || isNewAccount) { %>
            <div class="form-group">
                <label>Repeat Password</label>
                <input type="password" class="form-control" name="password2">
            </div>

            <div class="form-group">
                <label>Email confirmation code</label>
                <div style="display: flex">
                    <input type="text" class=form-control2 name="confirmation">
                    <span id=confirm class="btn btn-success">Get a code</span>
                </div>
            </div>

            <% } %>
            <button type="submit" class="btn btn-warning btn-lg"><%=btnText%></button>
        </form>
    </div>

</div>
<script>

  $( document ).ready(function() {
    $("#confirm").on('click', function () {
      var email = document.forms["loginForm"]["email"].value;
      if (!email || email.trim().length == 0) {
        new Message("Enter your email address, then you can request a code", 'warning', 5000);
      }
      else {
        $.post('/login/confirm', {
            email: email
          },
          function (data) {
            if (data.success) {
              new Message("A confirmation code was sent to " + data.email, 'success', 5000);
            }
            else {
              new Message("Failed to send confirmation: " + data.reason, 'error', 5000);
            }
          })
      }
    })
  })

    var validatePassword = "<%=isLinking || isNewAccount%>" == "true";
    function validatePasswords() {
      var email = document.forms["loginForm"]["email"].value;
      if (!email || email.trim().length == 0) {
        alert("Please provide an email address");
        return false;
      }

      var pwd = document.forms["loginForm"]["password"].value;
      if (!pwd || pwd.trim().length == 0) {
        alert("A password is required");
        return false;
      }

      if (validatePassword && document.forms["loginForm"]["password2"].value != pwd) {
        alert("Passwords do not match!");
        return false;
      }
    }
</script>
</body>
</html>