<!doctype html>
<html>
<head>
    <title>Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body {
            word-wrap:break-word;
            background-image: url(/images/landing.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: top;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            color: black;
            background-color: black;
        }

        .login-section {
            background-color: rgba(255,255,255, 0.6);
            background-blend-mode: multiply;
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            color: #484945;
            padding: 30px;
        }

        input.landing {
            min-width: 320px;
        }

        @media screen and (max-width: 800px) {
            .login-section {
                padding-left: 10px;
                padding-right: 10px;
            }

            input.landing {
                min-width: 250px;
            }
        }

        .signin-instructions {
            font-weight: 800;
        }


        .landing {
            width: 100%;
            border: 2px solid rgba(0,0,0,0.1);
            font-size: 18px;
            padding: 5px;
            background-color: transparent;
            padding-left: 40px;
        }

        .text-light {
            color: rgba(0,0,0,0.4);
        }


        .shift-r10 {
            position: absolute;
            left: 10px;
        }

        .mt25 {
            margin-top: 25px;
        }

        .input-with-icon {
            position: relative;
        }

        .input-icon {
            width: 16px;
        }



        input.landing:focus{
            box-shadow: 0 0 5px rgba(0, 112, 0, 0.5);
            border: 2px solid rgba(0, 112, 0, 0.5);
        }

        .login-button {
            background-blend-mode: multiply;
            border: 1px solid rgba(0,0,0,0.2);
            position: relative;
            font-family: Arial, sans-serif;
        }


        input.landing.confirmation-code {
            min-width: 200px;
        }

        .mt40 {   margin-top: 40px;  }
        .mt80 {   margin-top: 80px;  }

        .divider {
            position: absolute;
            border-right: 1px solid rgba(0,0,0,0.2);
            height: 80%;
        }

        .text-login {
            color: rgba(0,116,115,0.8);
            font-weight: bold;
        }

        .btn-login {
            color: #ffffff;
            background-color: rgba(0,116,115,0.5);
            border-color: rgba(0,116,115,0.5);
            background-blend-mode: multiply;
        }

        .btn-login:hover,
        .btn-login:focus,
        .btn-login.active {
            color: #ffffff;
            background-color: rgba(0,116,115,0.6);
            border-color: rgba(0,116,115,0.6);
        }

        @media screen and (min-width: 800px) {
            .big-screen-ml30 { margin-left: 30px;}
            .big-screen-mr30 { margin-right: 30px;}
        }

    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<%
if (typeof code == "undefined") code = null;
if (typeof message == "undefined") message = "";
%>

<%- include partials/header.ejs %>
<style>
    .background-cover {
        display: none;
    }

    .subtle-text {
        color: white;
    }
</style>

<div class="flex-column mt25">
    <div class="mt40 big-screen-only"></div>
    <div class="center-text mt40 flex-column">
        <div class="login-section">
            <!-- Row 1 -->
            <div class="signin-instructions">
                <%= _("Enter a new password") %>
            </div>

            <!-- Row 3 -->
            <div id="resetPasswordForm" class="pwd-reset">
                <!-- LOGIN FORM -->
                <div>
                    <form name="resetForm" action="/login/reset" target=_top method="post" onsubmit="return validateResetFields()">
                        <div class="flex-row input-with-icon mt20">
                            <div class="divider" style="left: 33px"></div>
                            <i class="fa fa-lock shift-r10 text-light input-icon" aria-hidden="true"></i>
                            <input type="password" name="password" class="landing" placeholder="Password">
                        </div>

                        <div class="flex-row input-with-icon mt20">
                            <div class="divider" style="left: 33px"></div>
                            <i class="fa fa-lock shift-r10 text-light input-icon" aria-hidden="true"></i>
                            <input type="password" name="password2" class="landing" placeholder="Repeat Password">
                        </div>

                        <input type="hidden" name="code" value="<%=code%>">

                        <div class="flex-row mt20" style="justify-content: space-between">
                            <button type="submit" class="btn btn-login login-button">RESET PASSWORD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="center-text mt80">
    <%- include partials/connect-with-us.ejs %>
</footer>



<script>
    <% if (message.length > 0) { %>
    new Message("<%=message%>", 'warning', 5000);
    <% } %>

    function validateResetFields() {
      var pwd = document.forms["resetPasswordForm"]["password"].value;
      if (!pwd || pwd.trim().length == 0) {
        new Message("A password is required", 'error', 5000);
        return false;
      }

      if (validatePassword && document.forms["resetPasswordForm"]["password2"].value != pwd) {
        new Message("Passwords do not match!", 'error', 5000);
        return false;
      }
    }
</script>
</body>
</html>
