<!doctype html>
<html>
<head>
    <%- include partials/page-head.ejs %>
    <title>Profile - Musicoin.org</title>
    <style>
        .profile-image {
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
        .social-group {
            display: flex;
            flex-direction: column;
        }
        input.form-control  {
            width: 230px;
        }
        .flex-row {
            display: flex;
            flex-direction: row;
        }
        .stat {
            margin-right: 20px;
        }
        .upload-image {
            cursor:pointer;
            width: 96px;
            height: 96px;
            object-fit: contain;
            background-color: rgba(255,255,255,0.1);
        }
        .instructions {
        }
        .well {
            background-color: rgba(255,255,255,0.2);
            border: none;
        }
        .form-entry {
            background-color: rgba(255,255,255,0.1);
            cursor: pointer;
            padding: 8px;
            border-radius: 4px;
            font-weight: normal;
            color: #aaa
        }

        input.form-control {
            background-color: rgba(255,255,255,0.1);
            color: white;
            border: none;
        }
        textarea.form-control {
            background-color: rgba(255,255,255,0.1);
            color: white;
            border: none;
        }
        h3 {
            font-family: monospace;
            text-transform: lowercase;
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<%- include partials/header.ejs %>
<div class="container">
    <div>
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Public Profile</h3>
                <form id=profileForm action="/profile/save" enctype="multipart/form-data" method="post">
                    <div class="form-group profile-image">
                        <img id="profileImage" style="min-width: 64px; min-height: 64px; width: 256px; max-height:256px; object-fit: contain"  src="<%=user.profile.image%>">
                        (click to change)
                        <input style="display: none" id="imageInput" type="file" name="photo">
                    </div>
                    <div class="form-group">
                        <label>Artist Name</label>
                        <input type="text" class="form-control" name="artistName" value="<%=user.profile.artistName%>">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description"><%= user.profile.description %></textarea>
                    </div>
                    <div class="form-group">
                        <label>Social</label>
                        <table class="social-group">
                            <%
                            var socialTypes = [
                                {id: "google", icon:"fa-google-plus"},
                                "facebook", "twitter",
                                {id: "soundcloud", name: "sound cloud"}, "linkedin", "youtube",
                                {id: "reverbnation", icon:"fa-star", name: "reverb nation"},
                                "pinterest", "instagram", "medium"
                            ]
                            for (var i=0; i < socialTypes.length; i++) {
                              var item = socialTypes[i];
                              if (typeof item == "string") {
                                item = {id: item};
                              }
                              var value = user.profile && user.profile.social ? user.profile.social[item.id] : "";
                              var name = item.name ? item.name : item.id;
                              var icon = item.icon ? item.icon : "fa-" + item.id;
                            %>
                                <tr>
                                    <td><span class="fa <%=icon%>"></span></td>
                                    <td><input type="text" class="form-control" name="social.<%=item.id%>" value="<%=value%>" placeholder="<%=name%>"></td>
                                </tr>
                            <%}%>
                        </table>
                    </div>
                    <div style="display:flex; justify-content: flex-end">
                        <button type="submit" class="btn btn-warning btn-lg">
                            <%= (user.pendingTx || user.profileAddress) ? "Update" : "Publish" %>
                        </button>
                    </div>
                    <% if (user.pendingTx) {%>
                    <div>
                        Waiting for confirmation (<%=user.pendingTx%>)
                    </div>
                    <% }  %>
                    <% if (user.profileAddress) {%>
                    <div>
                        View your public profile page here <a href="/artist/<%=user.profileAddress%>">here</a>
                    </div>
                    <% }  %>
                </form>

            </div>
        </div>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <!--<div class="col-sm-6">-->
            <!--<div class="well">-->
                <!--<h3><span class="fa fa-user"></span> Local</h3>-->

                <!--<% if (user.local.email) { %>-->
                <!--<p>-->
                    <!--<strong>email</strong>: <%= user.local.email %><br>-->
                <!--</p>-->

                <!--<a href="/unlink/local" class="btn btn-default">Unlink</a>-->
                <!--<% } else { %>-->
                <!--<a href="/connect/local" class="btn btn-default">Connect Local</a>-->
                <!--<% } %>-->

            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-sm-6">-->
            <!--<div class="well">-->
                <!--<h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>-->

                <!--&lt;!&ndash; check if the user has this token (is the user authenticated with this social account) &ndash;&gt;-->
                <!--<% if (user.google.token) { %>-->
                    <!--<p>-->
                        <!--<strong>email</strong>: <%= user.google.email %><br>-->
                        <!--<strong>name</strong>: <%= user.google.name %>-->
                    <!--</p>-->

                    <!--<a href="/unlink/google" class="btn btn-danger">Unlink</a>-->
                <!--<% } else { %>-->
                    <!--<a href="/connect/google" class="btn btn-danger">Connect Google</a>-->
                <!--<% } %>-->

            <!--</div>-->
        <!--</div>-->

        <div class="col-sm-6">
            <div class="well">
                <h3>Wallet</h3>
                <p>
                    Balance: <%= artist.balance %> mc
                </p>
                <p class="instructions">
                    You can easily send you musicoins to another address.  Just paste in their wallet address below, enter
                    an amount, and click send!
                </p>
                <form action="/send" method="post">
                    <table cellpadding="3">
                        <tr>
                            <td>Recipient</td>
                            <td><input name=recipient type="text" class="form-control" placeholder="address"></td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td><input name=amount type="number" class="form-control" placeholder="0"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="btn btn-warning">
                                    Send
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <% if (user.profileAddress) {%>
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-music"></span> Upload</h3>
                <form id=profileForm action="/tracks/release" enctype="multipart/form-data" method="post">
                    <% for (let i=0; i < 1; i++) {
                        const rowId = `track${i}`;
                        const displayId = rowId + "_imageDisplay";
                    %>
                    <div style="display: flex; padding: 10px;">
                        <div class="flex-column clickable" onclick="<%=rowId%>_image.click()" >
                            <img src="<%=user.profile.image%>" id="<%=displayId%>" class="upload-image">
                            <div class="text-center small">
                                (click to change)
                            </div>

                        </div>

                        <div style="display:flex; flex-direction: column; height:100px; justify-content: space-around; padding-left: 10px">
                            <input type="text" class="form-control" name="<%=rowId%>.title" placeholder="title">
                            <label class="form-entry" for="<%=rowId%>_audio" id="<%=rowId%>_audioLabel">Audio...</label>
                            <input style="display: none" onchange="updateAudioLabel('<%=rowId%>_audioLabel', this.id)" id="<%=rowId%>_audio" type="file" name="<%=rowId%>.audio">
                            <input style="display: none" onchange="updateImageDisplay('<%=displayId%>', this.id)" id="<%=rowId%>_image" type="file" name="<%=rowId%>.image">
                        </div>
                    </div>
                    <%}%>
                    <div style="display:flex; justify-content: flex-end">
                        <button type="submit" class="btn btn-success btn-lg">
                            Release
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <% if (pendingReleases.length > 0) {%>
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-music"></span> Pending</h3>
                <% for (var i=0; i < pendingReleases.length; i++) {%>
                    <div><%=pendingReleases[i].title%></div>
                <%}%>

            </div>
        </div>
        <%}%>

        <% if (releases.length > 0) {%>
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-music"></span> My Releases</h3>
                <%- include partials/track-list.ejs %>
            </div>
        </div>
        <%}%>

        <%} else {%>
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-music"></span> Release</h3>
                Once you publish a profile, you can release songs here.
            </div>
        </div>
        <%}%>
    </div>

</div>
<%- include partials/player.ejs %>
</body>
<script>
  $( document ).ready(function() {
    $("#imageInput").change(function(){
      readURL('profileImage', this);
    });

    $("#profileImage").click(function() {
      $("#imageInput").click();
    })
  });
  function readURL(targetId, input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#' + targetId).attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  function updateImageDisplay(targetId, inputId) {
    readURL(targetId, $('#' + inputId)[0]);
  }

  function updateAudioLabel(targetId, inputId) {
    $('#' + targetId)[0].innerText = $('#' + inputId)[0].files[0].name;
  }

  function publishProfile() {
    $.post("/profile/publish/", {}, function(data,status,xhr) {
      alert("Publish initiated: " + data.tx);
    }, "json")
  }
</script>
</html>