<!doctype html>
<html>
<head>
    <title>Projects - Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body {
            word-wrap: break-word;
            background-image: url('/images/project-bg.jpeg');
            background-size: cover;
        }

        :target {
            background-color: rgba(255, 255, 255, 0.1);
        }

        @keyframes highlight {
            0% {
                background-color: rgba(255, 255, 255, 0.1);
            }
            100% {
                background-color: transparent;
            }
        }

        .question {
            padding: 10px;
        }
    </style>
</head>
<body>
<%- include partials/header.ejs %>
    <%
    var address = "XXXXXXXX";
    var projects = [
        {
            title: "Project Title",
            description: ("Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of t]"),
            image: "/images/project.jpeg"
        },
        {
            title: "Project title",
            description: ("Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of t]"),
            image: "/images/project.jpeg"
        },
        {
            title: "Project title",
            description: ("Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of t]"),
            image: "/images/project.jpeg"
        }

    ];
    %>
<div class="container">
    <div class="row">

        <div class="col-xs-12">
            <h1 class="text-center">Musicoin Projects</h1>
            <h2 class="text-center">Help support the further development of the Musicoin Project by donating MUC to the project team.</h2>
            <p>&nbsp;</p>
            <p class="text-center"><%= address %></p>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-success tip-button"
                            id="send10"
                            amount="10"
                            recipient = "<%= address %>"
                            context-type=""
                            context-id=""
                            text-success='Tip sent . Thanks!'
                            text-fail="Tip failed">Donate 10</button>
                    <button class="btn btn-success tip-button"
                            id="send10"
                            amount="100"
                            recipient = "<%= address %>"
                            context-type=""
                            context-id=""
                            text-success='Tip sent . Thanks!'
                            text-fail="Tip failed" >Donate 100</button>
                    <button class="btn btn-success tip-button"
                            id="send10"
                            amount="1000"
                            recipient = "<%= address %>"
                            context-type=""
                            context-id=""
                            text-success='Tip sent . Thanks!'
                            text-fail="Tip failed" >Donate 1000</button>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

    <%
    for (var q = 0; q < projects.length; q++) {
        var project = projects[q];
    %>
    <div class="row well ">
        <div class="col-sm-12">
            <h2><%= project.title %></h2>
            <div class="col-sm-3">
                <img src="<%= project.image %>"
                     class="img-responsive center-block">
            </div>
            <div class="col-sm-9">
                <p>
                    <%= project.description %>
                </p>
            </div>
        </div>
    </div>

    <% } %>
</div>
<%- include partials/connect-with-us.ejs %>
</body>
</html>