<!doctype html>
<html>
<head>
    <title>Musicoin</title>
    <%- include partials/page-head.ejs %>
    <style>
        body {
            word-wrap:break-word;
            background-size: cover;
            margin-left: 5px;
            margin-right: 5px;
            background-image: url('<%=license.image%>');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
        }

        #chat-input {
            color: black;
        }
    </style>
    <link rel="stylesheet" href="/styles/track-message.css">
</head>
<body>
<%- include partials/header.ejs %>
<div class="container">
    <h1>
        <%=license.title%>
    </h1>
    <div class="row">
        <div class="col-sm-4 flex-column mb20">
            <div class="m5 well white-well">
                <div class="flex-column center-text">
                    <div class="track-image show-off-container shadow"
                         style="background-image: url('<%=license.image%>')">
                    </div>
                    <div class="audio-track clickable text-large"
                            audioUrl='<%=license.audioUrl%>'
                            trackTitle='<%=license.title%>'
                            artistName='<%=license.artistName%>'
                            image='<%=license.image%>'
                            playCount='<%=license.playCount%>'
                            tipCount='<%=license.tipCount%>'
                            artistProfileAddress='<%=license.artistProfileAddress%>'
                            licenseAddress='<%=license.address%>'>
                        <i class="fa fa-play-circle" aria-hidden="true"></i> Play
                    </div>
                    <div class="mb10"><%=license.playCount%> plays</div>
                    <div class="track-artist mb10">
                        Artist: <a href="/artist/<%=license.artistProfileAddress%>"><%=license.artistName%></a>
                        <div class="follow-toggle-button btn btn-default btn-xs mr10"
                             user="<%=license.artistProfileAddress%>"
                             text-following="Following"
                             class-following="btn-success"
                             text-not-following="Follow"
                             class-not-following="btn-default"
                        >
                            Follow
                        </div>
                    </div>

                    <div class="center-text">
                        <div id="player-tip-button"
                             class="tip-button btn btn-success tip-button btn-xs mr10"
                             recipient="<%=license.address%>"
                             amount="1"
                             text-success="Thanks! :)"
                             text-fail=":("
                             text-default="Tip (1 $MC)">
                            Tip (1 $MC)
                        </div>
                        <a href="https://twitter.com/share"
                           class="twitter-share-button"
                           data-text="Check out '<%=license.title%>' by <%=license.artistName%> on Musicoin"
                           data-url="https://hub.musicoin.org/nav/track/<%=license.address%>"
                           data-via="musicoins"
                           data-hashtags="musicoin"
                           data-show-count="true">Tweet</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>



                    <% if (typeof isAdmin != "undefined" && isAdmin) { %>
                    <div class="center-text mt10">
                        <div class="promote-hero-track btn btn-danger btn-sm"
                             address="<%=license.address%>">
                            Set as Artist of the Week
                        </div>
                    </div>
                    <%}%>
                </div>
                <div class="flex-column mb20 <%= isArtist ? "private-view" : ""%>">
                    <% if (isArtist) { %>
                    <div class="track-description-header mb10">Only you (the artist) can edit this area.  If you want, say something about the track.</div>
                    <textarea id=trackDescription class="mb10" placeholder="Say something about '<%=license.title%>'"><%=description%></textarea>
                    <div class="button-bar">
                        <div id=btnSave class="btn btn-warning" onclick=saveTrackDescription()>Save</div>
                    </div>
                    <%} else if (description) {%>
                    <p></p>
                    <blockquote class="track-description-header">
                        <%=description%>
                        <div class="button-bar">
                            - <%=license.artistName%>
                        </div>
                    </blockquote>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="col-sm-8 chat-area">
            <div class="chat-input-area">
                <% if (user.profileAddress) {%>
                <div class="chat-input">
                    <input id="chat-input" maxlength="1000" placeholder="Say something about '<%=license.title%>' by '<%=license.artistName%>'">
                </div>
                <% } else { %>
                <div class="text-warning text-center">You can join the conversation after you save your <a href="/profile">profile</a></div>
                <% } %>
            </div>
            <div class="dynamic-element message-scroller"
                 style="min-height: 180px"
                 id="de-track-messages"
                 de-refresh-period="10"
                 de-refresh-offset="10"
                 de-address="<%=license.address%>"
                 de-showtrack="false"
                 de-url="/elements/track-messages">
                <%- include('partials/track-messages.ejs', {messages: messages, showTrack: false}) %>
            </div>
        </div>
    </div>
</div>

<script>
    var trackId = "<%=license.address%>"
    var releaseId = "<%=releaseId%>"
  $( document ).ready(function() {
    const messages = $("#de-track-messages");
    const input = $("#chat-input");
    input.on('keydown', function(e) {
      if(e.keyCode == 13) {
        var message = input.val();
        input.val("");
        dynamic.refreshElement(messages, {message: message, releaseid: releaseId});
      }
    });

    $(".promote-hero-track").on('click', function() {
      var licenseAddress = $(this).attr("address");
      new Message("Are you sure?", 'warning', 5000)
        .button('Yes', () => {
          $.post("/admin/hero/select", {
              licenseAddress: licenseAddress
            },
            function(data) {
              if (data.success) {
                new Message("Success!", 'success', 3000);
              }
              else {
                new Message("Failed: " + data.reason, 'error', 5000);
              }
            })
        })
        .button('No', () => {

        });
    })
  });

  function saveTrackDescription() {
    $("#btnSave").text("Saving...");
    $.post('/track/description', {
      contractAddress: trackId,
      description: $("#trackDescription").val(),
    }, function (data) {
      console.log("Saved");
      $("#btnSave").text("Saved!");
      window.setTimeout(() => $("#btnSave").text("Save"), 3000);
    })
  }

  function refreshMessageList() {
    dynamic.refreshElement($("#de-track-messages"));
  }
</script>
<%- include partials/player-hook.ejs %>
<%- include partials/connect-with-us.ejs %>
</body>
</html>
