<!doctype html>
<html>
<head>
    <title>Musicoin</title>
    <%- include partials/page-head.ejs %>


    <meta name="keywords" content="Musicoin, Music, Blockchain, Crypto, Cryptocurrency">
    <meta name="description" content="Musicoin.org is powering the next generation of music">
    <meta name="robots" content="index,follow,noodp,noydir">
    <meta name="allow-search" content="yes">
    <meta name="language" content="en">
    <meta name="distribution" content="global">

    <style>
        body {
            word-wrap:break-word;
            background-size: cover;
            margin-left: 5px;
            margin-right: 5px;
            background-image: url('<%=license.image%>');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
        }

        #chat-input {
            color: black;
        }

        .track-artist-badge {
            justify-content: flex-start;
        }

        .track-artist-badge-area {
            width: 254px;
            padding: 10px;
            background-color: white;
            border-radius: 0;
        }

        .white-well.track-info-area {
            background-color: #f0f0f0;
        }
    </style>
    <link rel="stylesheet" href="/styles/track-message.css">
</head>
<body>
<%- include partials/header.ejs %>
<div class="container">
    <h1>
        <%=license.title%>
    </h1>
    <div class="row">
        <div class="col-sm-4 flex-column mb20">
            <div class="m5 well white-well track-info-area">
                <div class="flex-column center-text">
                    <div class="flex-column track-artist-badge-area">
                        <div class="flex-row track-artist-badge">
                            <% if (artist.image != license.image) { %>
                            <a href="/artist/<%=artist.profileAddress%>">
                                <div style="background-image: url('<%=artist.image%>')" class="sender-image-artist"></div>
                            </a>
                            <% } %>
                            <div class="flex-column text-left">
                                <a class="mb5" href="/artist/<%=license.artistProfileAddress%>"><%=license.artistName%></a>
                                <div class="follow-toggle-button btn btn-default btn-xs mr10"
                                     user="<%=artist.id%>"
                                     licenseAddress="<%=license.address%>"
                                     text-following="Following"
                                     class-following="btn-success"
                                     text-not-following="Follow"
                                     class-not-following="btn-default">
                                    Follow
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-track-image show-off-container"
                         style="background-image: url('<%=license.image%>')">
                    </div>

                    <div class="audio-track clickable text-large btn"
                         licenseAddress='<%=license.address%>'>
                        <i class="fa fa-play-circle" aria-hidden="true"></i> Play
                    </div>

                    <table class="mb5">
                        <tr>
                            <td align="right" class="pr5"><%=license.playCount%></td>
                            <td align="left">plays</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td align="right" class="pr5"><%=license.directTipCount%></td>
                            <td align="left">tips</td>
                            <td>
                                <div id="player-tip-button"
                                     class="tip-button btn btn-success btn-xs"
                                     recipient="<%=license.address%>"
                                     amount="1"
                                     text-success="Thanks! :)"
                                     context-type="Release"
                                     text-fail=":("
                                     text-default="Tip">
                                    Tip
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="center-text" class="mb20">
                        <a href="https://twitter.com/share"
                           class="twitter-share-button"
                           data-text="Check out '<%=license.title%>' by <%=license.artistName%> on @musicoins"
                           data-url="https://musicoin.org/nav/track/<%=license.address%>"
                           data-show-count="true">Tweet</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                    <% if (typeof isAdmin != "undefined" && isAdmin) { %>
                    <div class="center-text mt20">
                        <div class="promote-hero-track btn btn-danger btn-sm"
                             address="<%=license.address%>">
                            Set as Artist of the Week
                        </div>
                    </div>
                    <%}%>
                </div>
                <div class="flex-column mb20 <%= isArtist ? "private-view" : ""%>">
                    <% if (isArtist) { %>
                    <div class="track-description-header mb10">Only you (the artist) can edit this area.  If you want, say something about the track.</div>
                    <textarea id=trackDescription class="mb10" placeholder="Say something about '<%=license.title%>'"><%=description%></textarea>
                    <div class="button-bar">
                        <div id=btnSave class="btn btn-warning" onclick=saveTrackDescription()>Save</div>
                    </div>
                    <%} else if (description) {%>
                    <p></p>
                    <blockquote class="track-description-header">
                        <%=description%>
                        <div class="button-bar">
                            - <%=license.artistName%>
                        </div>
                    </blockquote>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="col-sm-8 chat-area">
            <div class="chat-input-area">
                <% if (isAuthenticated && user.profileAddress) {%>
                <div class="chat-input">
                    <input id="chat-input" maxlength="1000" placeholder="Say something about '<%=license.title%>' by '<%=license.artistName%>'">
                </div>
                <% } else if (isAuthenticated) { %>
                <div class="text-warning text-center">You can join the conversation after you save your <a href="/profile">profile</a></div>
                <% } else  { %>
                <div class="text-warning text-center">You can join the conversation after you <a href="/welcome" target="_top">sign in</a></div>
                <% } %>
            </div>
            <div class="dynamic-element"
                 data-behavior="chat-message-area"
                 style="min-height: 180px"
                 id="de-track-messages"
                 de-refresh-period="10"
                 de-refresh-offset="10"
                 de-address="<%=license.address%>"
                 de-showtrack="false"
                 de-url="/elements/track-messages">
                <%- include('partials/track-messages.ejs', {messages: messages, showTrack: false}) %>
            </div>
            <div class="text-center pad5">
                <a href="mailto:musicoin@musicoin.org?subject=Report Track&body=LicenseId:<%=license.address%>" target="_blank">Report abuse</a>
            </div>
        </div>

    </div>
</div>

<script>
    var trackId = "<%=license.address%>"
    var releaseId = "<%=releaseId%>"
  $( document ).ready(function() {
    const messages = $("#de-track-messages");
    const input = $("#chat-input");
    input.on('keydown', function(e) {
      if(e.keyCode == 13) {
        var message = input.val();
        input.val("");
        dynamic.refreshElement(messages, {message: message, releaseid: releaseId});
      }
    });

    $(".promote-hero-track").on('click', function() {
      var licenseAddress = $(this).attr("address");
      new Message("Are you sure?", 'warning', 5000)
        .button('Yes', () => {
          $.post("/admin/hero/select", {
              licenseAddress: licenseAddress
            },
            function(data) {
              if (data.success) {
                new Message("Success!", 'success', 3000);
              }
              else {
                new Message("Failed: " + data.reason, 'error', 5000);
              }
            })
        })
        .button('No', () => {

        });
    })
  });

  function saveTrackDescription() {
    $("#btnSave").text("Saving...");
    $.post('/track/description', {
      contractAddress: trackId,
      description: $("#trackDescription").val(),
    }, function (data) {
      console.log("Saved");
      $("#btnSave").text("Saved!");
      window.setTimeout(() => $("#btnSave").text("Save"), 3000);
    })
  }

  function refreshMessageList() {
    dynamic.refreshElement($("#de-track-messages"));
  }
</script>
<%- include partials/player-hook.ejs %>
<%- include partials/connect-with-us.ejs %>
</body>
</html>
