<!doctype html>
<html>
<head>
    <title>Musicoin</title>
    <%- include partials/page-head.ejs %>


    <meta name="keywords" content="Musicoin, Music, Blockchain, Crypto, Cryptocurrency">
    <meta name="description" content="Musicoin.org is powering the next generation of music">
    <meta name="robots" content="index,follow,noodp,noydir">
    <meta name="allow-search" content="yes">
    <meta name="language" content="en">
    <meta name="distribution" content="global">

    <style>
        body {
            word-wrap:break-word;
            background-size: cover;
            margin-left: 5px;
            margin-right: 5px;
            background-image: url('<%=license.image%>');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        #chat-input {
            color: black;
        }

        .track-artist-badge {
            justify-content: flex-start;
        }

        .track-artist-badge-area {
            width: 254px;
            padding: 10px;
            background-color: white;
            border-radius: 0;
        }

        .white-well.track-info-area {
            background-color: #f0f0f0;
        }

        .track-tag {
            border-radius: 5px;
            padding: 5px;
            margin: 2px;
            white-space: nowrap;
            color: #fff;
        }

        .genre-tag, a.genre-tag:hover           {   background-color: #1b95e0;  }
        .language-tag, a.language-tag:hover     {   background-color: #619dc2;  }
        .region-tag, a.region-tag:hover         {   background-color: #619dc2;  }
        .mood-tag, a.mood-tag:hover             {   background-color: #619dc2;  }

        .show-on-edit {
            /*visibility: hidden;*/
        }
    </style>
    <link rel="stylesheet" href="/styles/track-message.css">
</head>
<body>
<%- include partials/header.ejs %>

<%
    function formatNumber(value) {
        if (!value || value == 0) return 0;
        if (value < 1) return parseFloat(value).toFixed(1);
        const lookup = ["", "k", "M", "B", "T"];
        var order = Math.min(Math.floor(Math.log10(value) / 3), lookup.length - 1);
        var mult = value / Math.pow(10, 3 * order);
        var decimals = order > 0 ? 1 : 0;
        return mult.toFixed(decimals).replace(/\B(?=(\d{3})+(?!\d))/g, ",") + lookup[order];
    }

    var twitterHandle = license.artistName; // default, just use artist name (without @-prefix, so not a twitter handle)
    if (artist && artist.social && artist.social.twitter) {
      var twitterUrl = artist.social.twitter;
      if (twitterUrl.endsWith('/')) {
        twitterUrl = twitterUrl.substring(0, twitterUrl.length - 1);
      }
      var idx = twitterUrl.lastIndexOf('/');
      if (idx >= 0 && idx < twitterUrl.length-1) {
          twitterHandle = "@" + twitterUrl.substring(twitterUrl.lastIndexOf('/')+1, twitterUrl.length);
      }
      else if (twitterUrl.trim().length > 1) {
          twitterHandle = "@" + twitterUrl.trim();
      }
    }
 %>

<div class="container">
    <h1>
        <%=license.title%>
        <a href="https://twitter.com/share"
           class="twitter-share-button"
           data-text="Check out '<%=license.title%>' by <%=twitterHandle%> on $MUSIC #blockchain"
           data-url="https://musicoin.org/nav/track/<%=license.address%>"
           data-show-count="true">Tweet</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </h1>
    <div class="row">
        <div class="col-sm-4 flex-column mb20">
            <div class="well white-well track-info-area">
                <div class="flex-column center-text">
                    <div class="flex-column track-artist-badge-area">
                        <div class="flex-row track-artist-badge">
                            <% if (artist.image != license.image) { %>
                            <a href="/artist/<%=artist.profileAddress%>">
                                <div style="background-image: url('<%=artist.image%>')" class="sender-image-artist"></div>
                            </a>
                            <% } %>
                            <div class="flex-column text-left">
                                <div class="mb5">
                                    <a href="/artist/<%=license.artistProfileAddress%>"><%=license.artistName%></a>
                                    <% if (artist.verified) { %>
                                    <i class="verified" title="verified user"></i>
                                    <% } %>
                                </div>
                                <% if (!isArtist) { %>
                                <div class="follow-toggle-button btn btn-default btn-xs mr10"
                                     user="<%=artist.id%>"
                                     licenseAddress="<%=license.address%>"
                                     text-following="Following"
                                     class-following="btn-success"
                                     text-not-following="Follow"
                                     class-not-following="btn-default">
                                    Follow
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="large-track-image show-off-container"
                         style="background-image: url('<%=license.image%>')">
                    </div>

                    <div class="flex-row" style="justify-content: space-between; width: 100%">
                        <div style="width: 44px"></div>
                        <div class="audio-track clickable text-large btn mt5"
                             licenseAddress='<%=license.address%>'>
                            <i class="fa fa-play-circle" aria-hidden="true"></i> Play
                        </div>
                        <div class="btn queue-audio-track"
                             licenseAddress='<%=license.address%>'
                             title="Add to now-playing queue"
                             style="position: relative">
                            <i class="fa fa-list subtle-text"
                               aria-hidden="true"></i>
                            <i class="fa fa-plus"
                                aria-hidden="true"
                                style="position: absolute; position: absolute; bottom: 4px; right: 7px;"></i>

                        </div>
                    </div>

                    <table class="mb5" style="width: 100%">
                        <tr>
                            <td align="center" class="pr5">
                                <div class="dynamic-data"
                                     data-behavior="track-earnings"
                                     de-refresh-period="10"
                                     de-releaseId="<%=releaseId%>"
                                     de-url="/json-api/track/earnings/">
                                    <div class="text-large">
                                        <span class="text-large" data-behavior="track-earnings"><%=formatNumber(parseInt(license.directPlayCount) + parseInt(license.directTipCount))%></span><span class="text-medium-small">MC</span><BR>
                                        <span class="text-medium-small" style="position: relative; top: -10px;">earned</span>
                                    </div>
                                    <div class="subtle-text" style="position:relative; top:-5px">
                                        <span data-behavior="track-plays"><%=formatNumber(license.directPlayCount)%></span> plays + <span data-behavior="track-tips"><%=formatNumber(license.directTipCount)%></span> tips</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" class="pr5 subtle-text">
                                <div style="background-color: rgba(0,0,0,0.05)" class="pad10">
                                    <div class="center-text">
                                        <div id="player-tip-button"
                                             class="tip-button btn btn-success mt10 mr5"
                                             recipient="<%=license.address%>"
                                             amount="1"
                                             text-success="Thanks! :)"
                                             context-type="Release"
                                             text-fail=":("
                                             text-default="1 MC">
                                            1 MC
                                        </div>
                                        <div id="player-tip-button"
                                             class="tip-button btn btn-success mt10 mr5"
                                             recipient="<%=license.address%>"
                                             amount="5"
                                             text-success="Thanks! :)"
                                             context-type="Release"
                                             text-fail=":("
                                             text-default="5 MC">
                                            5 MC
                                        </div>
                                        <div id="player-tip-button"
                                             class="tip-button btn btn-success mt10"
                                             recipient="<%=license.address%>"
                                             amount="10"
                                             text-success="Thanks! :)"
                                             context-type="Release"
                                             text-fail=":("
                                             text-default="10 MC">
                                            10 MC
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <div class="mt20">Genres</div>
                                <div class="m5 flex-row" style="flex-wrap: wrap">
                                    <%- include('partials/tag-list.ejs', { tags: license.genres, tagType: "genre", "tagClass": "genre-tag" }) %>
                                </div>

                                <div class="mt20">Tags</div>
                                <div class="m5 flex-row" style="flex-wrap: wrap">
                                    <%- include('partials/tag-list.ejs', { tags: license.languages, tagType: "search", "tagClass": "language-tag" }) %>
                                    <%- include('partials/tag-list.ejs', { tags: license.moods, tagType: "search", "tagClass": "mood-tag" }) %>
                                    <%- include('partials/tag-list.ejs', { tags: license.regions, tagType: "search", "tagClass": "region-tag" }) %>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <div class="clickable trackDetails mt20 text-info" onclick="$('.trackDetails').toggle()">
                                    License Details <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </div>
                                <div class="trackDetails clickable mt20 text-info"
                                     style="display: none"
                                     onclick="$('.trackDetails').toggle()">
                                    Hide Details <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                </div>
                                <div class="trackDetails mt10" style="display: none">
                                    <table>
                                        <tr>
                                            <td align="right"><strong>Released</strong></td>
                                            <td style="padding-left: 10px"><%=license.timeSince%></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><strong>License</strong></td>
                                            <td style="padding-left: 10px">
                                                <a href="javascript:void(0)" onclick="modalUtils.showModal('thread-modal', '/license/view/', {address: '<%=license.address%>', hideButtonBar: true})">
                                                    PPP (Pay Per Play)
                                                </a>

                                            </td>
                                        </tr>
                                    </table>

                                    <div class="mt20"><strong>Payment Distribution</strong></div>
                                    <table class="table">
                                        <% for (var c=0; c < contributors.length; c++) {
                                            var contributor = contributors[c];
                                            var url = contributor.type == "artist"
                                                    ? "/artist/" + contributor.address
                                                    :  contributor.type == "license"
                                                            ? "/track/" + contributor.address
                                                            : "http://orbiter.musicoin.org/addr/" + contributor.address;
                                            var name = contributor.type == "artist" || contributor.type == "license"
                                                    ? contributor.alternateAddress
                                                    : "Unregisterd address";
                                        %>
                                        <tr>
                                            <td><a href="<%=url%>"><%=name%></a></td>
                                            <td><%=contributor.percentage%>%
                                                <% if (isArtist) { %>
                                                <span class="fa fa-trash-o ml5 show-on-edit"></span>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </table>

                                </div>
                            </td>
                        </tr>
                        <% if (!isArtist && !license.markedAsAbuse) { %>
                        <tr>
                            <td class="mt10">
                                <div class="mt10"></div>

                            </td>
                        </tr>
                        <% } %>
                    </table>

                    <% if (typeof isAdmin != "undefined" && isAdmin) { %>

                    <div class="alert alert-danger mt20">
                        <div>Admin Tools</div>
                        <div class="center-text">
                            <% if (!license.markedAsAbuse) { %>
                            <div class="promote-hero-track btn btn-success btn-sm mr10"
                                 address="<%=license.address%>">
                                Set as Artist of the Week
                            </div>
                            <% } %>
                            <div class="mark-track-as-abuse btn btn-sm <%=license.markedAsAbuse ? "btn-success" : "btn-danger"%>"
                                 abuse="<%=license.markedAsAbuse%>"
                                 address="<%=license.address%>">
                                <%= license.markedAsAbuse ? "Mark as ok" : "Mark as abuse"%>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </div>
                <div class="flex-column mb20 <%= isArtist ? "private-view" : ""%>">
                    <% if (isArtist) { %>
                    <div class="track-description-header mb10">Only you (the artist) can edit this area.  If you want, say something about the track.</div>
                    <textarea id=trackDescription class="mb10" placeholder="Say something about '<%=license.title%>'"><%=description%></textarea>
                    <div class="button-bar">
                        <div id=btnSave class="btn btn-warning" onclick=saveTrackDescription()>Save</div>
                    </div>
                    <%} else if (description) {%>
                    <p></p>
                    <blockquote class="track-description-header">
                        <%=description%>
                        <div class="button-bar">
                            - <%=license.artistName%>
                        </div>
                    </blockquote>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="col-sm-8 chat-area">
            <div class="chat-input-area">
                <% if (isAuthenticated && user.profileAddress) {%>
                <div class="chat-input">
                    <input id="chat-input" maxlength="1000" placeholder="Say something about '<%=license.title%>' by '<%=license.artistName%>'">
                </div>
                <% } else if (isAuthenticated) { %>
                <div class="text-warning text-center">You can join the conversation after you save your <a href="/profile">profile</a></div>
                <% } else  { %>
                <div class="text-warning text-center">You can join the conversation after you <a href="/welcome" target="_top">sign in</a></div>
                <% } %>
            </div>
            <div class="alert alert-danger abuse-alert" style="<%= license.markedAsAbuse ? "" : "display:none" %>  ">
                <%= abuseMessage %>
            </div>
            <div class="dynamic-element"
                 data-behavior="chat-message-area"
                 style="min-height: 180px"
                 id="de-track-messages"
                 de-refresh-period="10"
                 de-refresh-offset="10"
                 de-address="<%=license.address%>"
                 de-showtrack="false"
                 de-url="/elements/track-messages">
                <%- include('partials/track-messages.ejs', {messages: messages, showTrack: false}) %>
            </div>
            <div class="text-center pad5">
                <a href="mailto:musicoin@musicoin.org?subject=Report Track&body=LicenseId:<%=license.address%>" target="_blank">Report abuse</a>
            </div>
        </div>

    </div>
</div>

<script>
    var trackId = "<%=license.address%>"
    var releaseId = "<%=releaseId%>"
  $( document ).ready(function() {
    const messages = $("#de-track-messages");
    const input = $("#chat-input");
    input.on('keydown', function(e) {
      if(e.keyCode == 13) {
        var message = input.val();
        input.val("");
        dynamic.refreshElement(messages, {message: message, releaseid: releaseId});
      }
    });

    $(".promote-hero-track").on('click', function() {
      var licenseAddress = $(this).attr("address");
      new Message("Are you sure?", 'warning', 5000)
        .button('Yes', function() {
          $.post("/admin/hero/select", {
              licenseAddress: licenseAddress
            },
            function(data) {
              if (data.success) {
                new Message("Success!", 'success', 3000);
              }
              else {
                new Message("Failed: " + data.reason, 'error', 5000);
              }
            })
        })
        .button('No', function() {

        });
    })

    $(".mark-track-as-abuse").on('click', function() {
      var element = $(this);
      var markAsAbuse = element.attr("abuse") !== "true";
      var licenseAddress = $(this).attr("address");
      var msg = markAsAbuse
        ? "Are you sure you want to mark this as abuse?"
        : "Are you sure you want to mark this as ok?"
      new Message(msg, 'warning', 5000)
        .button('Yes', function() {
          $.post("/admin/release/abuse", {
              licenseAddress: licenseAddress,
              abuse: markAsAbuse
            },
            function(data) {
              if (data.success) {
                element.attr("abuse", markAsAbuse ? "true" : "false");
                element.text(markAsAbuse ? "Mark as ok" : "Mark as abuse")
                element.toggleClass("btn-danger", !markAsAbuse);
                element.toggleClass("btn-success", markAsAbuse);
                $(".abuse-alert").toggle();
                new Message("Success!", 'success', 3000);
              }
              else {
                new Message("Failed: " + data.reason, 'error', 5000);
              }
            })
        })
        .button('No', function() {

        });
    })

    dynamic.addDataHandler("track-earnings", function(element, data) {
      var newPlays = parseInt(data.plays);
      var newTips = parseInt(data.tips)
      var newTotal = format.formatNumber(newPlays + newTips);
      if (newTotal != element.find("[data-behavior~=track-earnings]").text()) {
        element.find("[data-behavior~=track-earnings]").text(newTotal);
        element.find("[data-behavior~=track-plays]").text(format.formatNumber(newPlays));
        element.find("[data-behavior~=track-tips]").text(format.formatNumber(newTips));
        element.effect("bounce");
      }
    })
  });

  function saveTrackDescription() {
    $("#btnSave").text("Saving...");
    $.post('/track/description', {
      contractAddress: trackId,
      description: $("#trackDescription").val(),
    }, function (data) {
      console.log("Saved");
      $("#btnSave").text("Saved!");
      window.setTimeout(function(){ $("#btnSave").text("Save")}, 3000);
    })
  }

  function refreshMessageList() {
    dynamic.refreshElement($("#de-track-messages"));
  }
</script>
<%- include partials/player-hook.ejs %>
<%- include partials/connect-with-us.ejs %>
</body>
</html>
