<% if (artists && artists.length > 0) { %>
<style>
    .artist-badge-name {
        margin-left: 10px;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .artist-info {
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }
    .artist-info:hover {
        text-decoration: none;
    }
    .artist-description {
        color: #aaa;
        max-height: 48px;
        max-width: 300px;
        display: inline-flex;
        overflow: hidden;
    }
</style>
<% for (var i=0; i < artists.length; i++) {
    var artist = artists[i];
%>
<div class="artist-badge">
    <a href="/artist/<%=artist.profileAddress%>"  class="artist-info">
        <img width="64" height="64" src="<%=artist.image%>">
        <div class="artist-badge-name">
            <div class="artist-name"><%=artist.artistName%></div>
            <div class="artist-description"><%=artist.description%></div>
        </div>
    </a>
    <%- include social-links.ejs %>
</div>
<%}%>
<%}%>