<div class="history-nav">
    <div>
        <%=navigation.description%>
    </div>
    <div>
        Show
        <a class="history-nav-link" href="<%= navigation.show10 %>">10</a>
        <a class="history-nav-link" href="<%= navigation.show25 %>">25</a>
        <a class="history-nav-link" href="<%= navigation.show50 %>">50</a>
    </div>
    <div>
        <% if (navigation.start) { %>
        <a class="history-nav-link" href="<%=navigation.start%>">first</a>
        <%}%>
        <% if (navigation.back) { %>
        <a class="history-nav-link" href="<%=navigation.back%>">back</a>
        <%}%>
        <% if (navigation.next) { %>
        <a class="history-nav-link" href="<%=navigation.next%>">next</a>
        <%} else {%>
        <span class="history-nav-link-disabled">next</span>
        <%}%>
    </div>
</div>