
<div class="chat-messages">
    <% for (var i=0; i < releases.length; i++) {
        var release = releases[i];
        var showTimestamp = typeof release.playsLastWeek == "undefined" && typeof release.tipsLastWeek == "undefined"
    %>
    <div class="chat-message chat-message-normal event">
        <div class="audio-track clickable m10 text-large subtle-text" licenseAddress='<%=release.address%>'>
            <i class="fa fa-play-circle" aria-hidden="true"></i>
        </div>
        <div class="top-center-text">
            <a href="/track/<%=release.address%>"><div style="background-image: url('<%=release.image%>');" class="release-image"></div></a>
        </div>
        <div class="chat-message-area">
            <div class="chat-message-sender">
                <a href="/track/<%=release.address%>"><%=release.title%></a>
            </div>
            by <a href="/artist/<%=release.artistProfileAddress%>"><%=release.artistName%></a>
            <% if (typeof release.playsLastWeek != "undefined") { %>
            <div class="subtle-text"><%=release.playsLastWeek + " plays last week"%></div>
            <% } else if (typeof release.tipsLastWeek != "undefined") { %>
            <div class="subtle-text"><%=release.tipsLastWeek + " tips last week"%></div>
            <% } else { %>
            <div class="subtle-text">Released <%=release.timeSince%></div>
            <% } %>
            <div class="subtle-text text-small"><%=release.genres ? release.genres.join(", ") : ""%></div>
            <div class="chat-message-body chat-message-preview"><%=release.description%></div>
        </div>
    </div>
    <%}%>
</div>