
<div class="chat-messages">
    <%
        var _showTrack = typeof showTrack != "undefined" ? showTrack : false;
        var _noContentMessage = typeof noContentMessage != "undefined" ? noContentMessage : "Be the first to comment";
    %>
    <% if (messages.length == 0) { %>
    <div class="center-text subtle-text pad20">
        <%=_noContentMessage%>
    </div>
    <% } %>
    <%
    var tipsMessages = [];
    for (var i=0; i < messages.length; i++) {
        var message = messages[i];
        var icon = message.tips > 0
                ? '<i class="fa fa-star message-tip" aria-hidden="true"></i>'
                : '<i class="fa fa-star-o  message-tip" aria-hidden="true"></i>'
        var textClass = message.tips > 0 ? "text-warning" : "subtle-text";
        var track = message.release;
        var showThisTrack = _showTrack && message.release;
        var showThisArtist = _showTrack && message.artist && message.artist.profileAddress;
        var releaseid = track ? track.id : "";
        var licenseAddress = track ? track.contractAddress : "";
        var highlight = track
            ? message.sender.profileAddress == track.artistAddress
            : false;
        var messageClass = highlight ? "chat-message-highlight" : "chat-message-normal";
        var senderClass = message.sender.isArtist ? "sender-image-artist" : "sender-image";
        if (message.messageType == "donate") {
            messageClass += " message-donate";
        }
        else if (message.messageType == "tip") {
            if (tipsMessages.length == 0 || tipsMessages[tipsMessages.length-1].sender.profileAddress != message.sender.profileAddress) {
                tipsMessages.push(message);
            }
        }
    %>


    <% if (tipsMessages.length > 0 && (message.messageType != "tip" || i == messages.length -1)) { %>
    <div class="pad5" style="padding-left: 40px; background-color: #efe">
    <%
        for (var tm=0; tm < tipsMessages.length; tm++) {
            var tipMessage = tipsMessages[tm];
    %>
            <%= tipsMessages.length > 2 && tm > 0 ? ", " : "" %>
            <%= tipsMessages.length > 1 && tm == tipsMessages.length-1 ? "and " : "" %>
            <a href="/artist/<%=tipMessage.sender.profileAddress%>"><%=tipMessage.sender.name%></a>
            <%= tm == tipsMessages.length -1 && tipsMessages.length > 1 ? " sent tips" : "" %>
            <%= tm == tipsMessages.length -1 && tipsMessages.length == 1 ? " sent a tip" : "" %>
    <%
         }
         tipsMessages = [];
    %>
    </div>
    <%
        }
    %>

    <% if (message.messageType != "tip") { %>
    <div class="chat-message hover-target <%=messageClass%>"
         releaseid="<%=releaseid%>"
         licenseAddress='<%=licenseAddress%>'
         senderAddress="<%=message.sender.profileAddress%>"
         messageid="<%=message.id%>">
        <div class="center-text">
            <% if (showThisTrack) { %>
            <div class="audio-track clickable m10 text-large subtle-text" licenseAddress='<%=track.contractAddress%>'>
                <i class="fa fa-play-circle" aria-hidden="true"></i>
            </div>
            <% } else { %>
            <div class="m10 text-large" style="visibility: hidden">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
            </div>
            <% } %>
            <a href="/artist/<%=message.sender.profileAddress%>"><div style="background-image: url('<%=message.sender.image%>')" class="<%=senderClass%>"></div></a>
            <% if (showThisTrack) { %>
            <!--<i class="fa fa-long-arrow-right subtle-text big-screen-only" aria-hidden="true"></i>&nbsp;-->
            <!--<a href="/track/<%=track.contractAddress%>" class="big-screen-only"><div style="background-image: url('<%=track.image%>')" class="sender-image"></div></a>-->
            <% } %>
        </div>
        <div class="chat-message-area">
            <div class="chat-message-sender">
                <a href="/artist/<%=message.sender.profileAddress%>"><%=message.sender.name%></a>
                <% if (showThisTrack) { %>
                on
                <a href="/track/<%=track.contractAddress%>"><%=track.title%></a>
                <% } else if (showThisArtist) { %>
                on
                <a href="/artist/<%=message.artist.profileAddress%>"><%=message.artist.name%></a>
                <% }  %>
                <span class="message-time big-screen-only"><%=message.time%></span>
            </div>
            <div class="chat-message-body"><%=message.body%></div>
            <div class="inline-reply" style="display: none">
                <% if (isAuthenticated) { %>
                <input placeholder="reply" class="inline-reply-input text-default-size fill-width">
                <% } else { %>
                <div class="text-warning text-center">You can join the conversation after you <a href="/welcome" target="_top">sign in</a></div>
                <% }  %>
            </div>
        </div>
        <div class="action-area">
            <i class="fa fa-reply btn subtle-text inline-reply-action show-on-hover-target" aria-hidden="true"></i>
            <div id="player-tip-button"
                 class="tip-button btn-xs clickable <%=textClass%>"
                 recipient="<%=message.sender.profileAddress%>"
                 amount="1"
                 on-success="refreshMessageList()"
                 text-success=':)'
                 text-fail=":("
                 text-default='icon'
                 context-type="TrackMessage"
                 title="Send 1 musicoin to <%=message.sender.name%> for this comment"
                 context-id="<%=message.id%>">
                <%-icon%>
            </div>
            <div class="subtle-text big-screen-only"><%= message.tips > 0 ? `(${message.tips})` : ""%>&nbsp;</div>
        </div>
    </div>
    <% } %>
    <%}%>
</div>