<div class="chat-messages">
    <% for (var i=0; i < messages.length; i++) {
        var message = messages[i];
    %>
    <div class="chat-message">
        <img src="<%=message.sender.image%>" class="sender-image"></img>
        <div class="chat-message-area">
            <div class="chat-message-sender"><%=message.sender.name%> <span class="message-time big-screen-only"><%=message.time%></span></div>
            <div class="chat-message-body"><%=message.body%></div>
        </div>
        <div class="action-area">
            <div class="subtle-text big-screen-only"><%= message.tips > 0 ? `(${message.tips} tips)` : ""%>&nbsp;</div>
            <div id="player-tip-button"
                 class="tip-button btn btn-success tip-button btn-xs"
                 recipient="<%=message.sender.profileAddress%>"
                 amount="1"
                 on-success="refreshMessageList()"
                 text-success=":)"
                 text-fail=":("
                 text-default='<i class="fa fa-thumbs-o-up" aria-hidden="true"></i> tip'
                 context-type="TrackMessage"
                 title="Send 1 musicoin to <%=message.sender.name%> for this comment"
                 context-id="<%=message.id%>">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> tip
            </div>
        </div>
    </div>
    <%}%>
</div>