<%- include ../partials/admin-page-head.ejs %>
<h3 class="text-center">Account Balances</h3>
<table class="table table-responsive table-striped table-condensed">
    <tr>
        <th class="text-center">Account</th>
        <th class="text-center">Address</th>
        <th class="text-center">Balance</th>
    </tr>

    <% for (var ivt = 0; ivt < accounts.length; ivt++) {
        var account = accounts[ivt];
    %>
    <tr>
        <td class="text-center middle"><%= account.name %></td>
        <td class="text-center middle"><a target="_blank"
                                          href="http://explorer.musicoin.org/account/<%= account.address %>"><%= account.address %></a>
        </td>
        <td class="text-center middle"><%= account.formattedBalance %></td>
    </tr>
    <% } %>
</table>
