<%- include ../partials/admin-page-head.ejs %>
<style>
    tr.abuse {
        background-color: rgba(200, 0, 0, 0.2);
    }
</style>

<div>
    <h3 class="text-center flex-row" style="justify-content: space-between">
        <div style="width: 200px"></div>
        <div>Releases</div>
        <div><input type="text"
                    class="admin-search de-parameter-input"
                    de-parameter="search"
                    de-parameters="start=0"
                    value="<%=search%>"></div>
    </h3>
    <%- include element-nav.ejs %>
    <table class="table table-responsive table-condensed">
        <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Released</th>
            <th class="text-center">Balance</th>
            <th class="text-center">Artist</th>
            <th class="text-center">Plays&nbsp;/&nbsp;Tips</th>
            <th class="text-center">Abuse</th>
        </tr>

        <% for (var ivt = 0; ivt < releases.length; ivt++) {
            var release = releases[ivt];
        %>
        <tr class="<%= !!release.markedAsAbuse || release.markedAsAbuse == "true" ? "abuse" : ""%>">
            <td class="text-center"><a target=release href="/track/<%=release.contractAddress%>"><%= release.title %></a></td>
            <td class="text-center"><%= release.timeSince %></td>
            <td class="text-center"><%= release.balance %></td>
            <td class="text-center">
                <% if (release.artist) { %>
                <a target=artist href="/artist/<%=release.artist.profileAddress%>"><%= release.artist.draftProfile.artistName%>
                    <% if (release.artistName !== release.artist.draftProfile.artistName) { %>
                    (<%= release.artistName %>)
                    <%} %>
                </a>
                <% } else { %>
                <a target=artist href="/artist/<%=release.artistAddress%>"><%= release.artistName %></a> *
                <% } %>
            </td>
            <td class="text-center"><%= release.directPlayCount || 0 %>&nbsp;/&nbsp;<%= release.directTipCount || 0 %></td>
            <td class="text-center"><%= !!release.markedAsAbuse %></td>
        </tr>
        <% } %>
    </table>
</div>
